.signin-page {

  min-height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  
  @media (min-width: 768px) {
    padding: 2.5rem;
  }
  
  &__container {
    width: 100%;
    max-width: 24rem;
    
    @media (min-width: 768px) {
      max-width: 64rem;
    }
  }
  
  &.dark {
    background-color: oklch(0.145 0 0);
    color: oklch(0.985 0 0);
  }
  
  &.light {
    background-color: oklch(1 0 0);
    color: oklch(0.145 0 0);
  }
}